<?xml version="1.0"?>
<config>
    <modules>
        <Uqppa_CustomerReferral>
            <version>0.1.0</version>
        </Uqppa_CustomerReferral>
    </modules>
	<adminhtml>
		<events>
			<core_block_abstract_to_html_before>
				<observers>
					<customerreferral_core_block_abstract_to_html_before>
						<class>Uqppa_CustomerReferral_Model_Observer</class>
						<method>beforeBlockToHtml</method>
					</customerreferral_core_block_abstract_to_html_before>
				</observers>
			</core_block_abstract_to_html_before>
			<eav_collection_abstract_load_before>
				<observers>
					<customerreferral_eav_collection_abstract_load_before>
						<class>Uqppa_CustomerReferral_Model_Observer</class>
						<method>beforeCollectionLoad</method>
					</customerreferral_eav_collection_abstract_load_before>
				</observers>
			</eav_collection_abstract_load_before>
		</events>
	</adminhtml>
    <global>
        <resources>
            <customerreferral_setup>
                <setup>
                    <module>Uqppa_CustomerReferral</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerreferral_setup>
            <customerreferral_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerreferral_write>
            <customerreferral_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerreferral_read>
        </resources>
        <models>
            <customerreferral>
                <class>Uqppa_CustomerReferral_Model</class>
            </customerreferral>
        </models>
		<events>
			<customer_register_success>
				<observers>
					<customerreferral_customer_register_success>
						<type>singleton</type>
						<class>Uqppa_CustomerReferral_Model_Observer</class>
						<method>setCustomerSource</method>
					</customerreferral_customer_register_success>
				</observers>
			</customer_register_success>     
		</events>
    </global>
</config>